/* Main content styling */
main {
    width: 40rem;
    margin: 1rem auto;
}

main img {
    width: 150px;
    height: auto;
}

/* Aside section styling */
aside {
    width: 20rem;
    margin: 1rem auto;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

/* Paragraph styling */
p {
    padding: 0;
}

/* Footer styling */
footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
    padding-top: 10px;
}
